.app {
  min-height: 100dvh;
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;

  &__page {
    max-width: var(--app-max-width);
    height: calc(100dvh - var(--app-menu-height) - var(--app-header-height));
    width: 100%;
    margin: 0 auto;
  }
}

html, body, #root {
  max-width: 100%;
  overflow-x: hidden;
}