.app {
  min-height: 100dvh;
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;

  &__page {
    max-width: var(--app-max-width);
    min-height: calc(100dvh - var(--app-header-height));
    width: min(100vw, var(--app-max-width));
    margin: 0 auto;
    padding-bottom: calc(var(--app-menu-height) + 16px);
  }
}

html, body, #root {
  max-width: 100%;
  overflow-x: hidden;
}
