.app {
  min-height: 100svh;
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding-top: env(safe-area-inset-top);

  &__page {
    max-width: var(--app-max-width);
    min-height: calc(100svh - var(--app-header-height) - env(safe-area-inset-top));
    width: min(100vw, var(--app-max-width));
    margin: 0 auto;
    padding-bottom: calc(var(--app-menu-height) + env(safe-area-inset-bottom));
  }
}

html, body, #root {
  max-width: 100%;
  overflow-x: hidden;
}
