.header {
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 0 20px;

  &__icon {
    width: 48px;
    height: 100%;
    padding: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
