.header {
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  padding: 0 20px;

  &__icon {
    width: 48px;
    height: 100%;
    padding: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}