.container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  
  .content {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    transition: .5s;
    
    > div {
      padding: 40px;
      flex: 1;
    }

    .logo {
      display: flex;
      flex-flow: column nowrap;
      gap: 8px;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
    }
  
    .welcome {
      font-size: 20px;
      line-height: 140%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
    }
  }

  .button_area {
    display: flex;
    flex-flow: row nowrap;
    margin-top: auto;
    gap: 15px;
    padding: 40px;

    button {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
  
      display: flex;
      align-items: center;
      justify-content: center;
      
      font-weight: bold;
      font-size: 15px;
    }
    
    .primary {
      background-color: var(--color-main);
      color: var(--color-white);
    }

    .secondary {
      background-color: var(--color-gray-light);
      color: var(--color-white);
    }
  }
}