:root {
  --color-main: #0068FF;
  --color-white: #FFFFFF;
  --color-black: #333333;
  --color-gray-light: #BFBFBF;

  --app-header-height: 56px;
  --app-menu-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  height: 100vh;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
}

